# name: 'Close stale issues and PR'
# on:
#   workflow_dispatch:
#   schedule:
#     - cron: '0 0 * * *'

# jobs:
#   stale:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/stale@v9
#         id: stale
#         with:
#           stale-issue-message: 'This issue is stale because it has been open 60 days with no activity. Remove stale label or comment or this will be closed in 7 days.'
#           close-issue-message: 'This issue was closed because it has been stalled for 7 days with no activity.'
#           days-before-stale: 60
#           days-before-close: 7
#           days-before-pr-close: -1
#           exempt-issue-labels: 'bug,feature'
#       - name: Print outputs
#         run: echo ${{ join(steps.stale.outputs.*, ',') }}